<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    $CSS_LINK
    <title>$TAB_TITLE</title>
</head>
<header>
    <nav>
        <a href="/notes"><img id="logo" src="/assets/images/logo.svg"></a>
        <a id="admin" href="/adminPanel">Admin Panel</a>
    </nav>
</header>
<main>
    <div id="body">