#confirm-password
{
    margin-bottom: 15px;
}

body
{
    overflow-x: hidden;
}

form
{
    top: 25%;
    left: 37%;
    position: absolute;
    padding: 50px;
    background-color: gainsboro;
    display: block;
    border-radius: 6px;
}